header {
    nav {
        background-color: black;        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        a {
            text-decoration: none;
            color: white;
            margin: 0 10px;
        }

        #user {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;

            i {
                color: #fff;
            }
        }

        span {
            cursor: pointer;
            margin-left: 5px;
            color: #fff;
        }

    }

    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        button {
            cursor: pointer;
            background-color: black;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            transition: 1s;

            &:active,
            &:focus {
                background-color: red;
                border: none;
            }
        }

        #content {
            display: block;
        }

        #next {
            text-align: center;
        }

        #click {
            animation: display 1s linear;
            display: block;
        }

        @keyframes display {
            from {
                opacity: 0;
                transform: translateX(-100%);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}