#user {
    width: 100%;
    padding: 0 5%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    nav {
        background-color: black;        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        
        a {
            text-decoration: none;
            color: white;
            margin: 0 10px;
        }
    }

    #avatar {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }


    }
}